/node_modules
/public/hot
/public/storage
/storage/*.key
!/vendor
/vendor/*
!/vendor/laravel/
/vendor/laravel/*
!/vendor/laravel/framework
!/vendor/laravel/ui
/vendor/laravel/framework/src/illuminate/*
!/vendor/laravel/framework/src/illuminate/Foundation
/vendor/laravel/framework/src/illuminate/Foundation/*
!/vendor/laravel/framework/src/illuminate/Foundation/Auth
!/vendor/laravel/framework/src/illuminate/Auth
!/vendor/ofi
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
